# Compiled class file
*.class

# Log file
*.log

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Maven
log/
target/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# minpiler
*.exe
*.asm
*.o

# Mac
.DS_Store
